.head {
    display: flex;
    flex-direction: column;
    width: 96%;
    margin: 2% 2%;
}
.head > .side1 {
    display: flex;
    flex-direction: row;
    width: 100%
}
.head > .side1 > div {
    padding: 0% 1%;
}
.side2 {
    display: flex;
    flex-direction: row;
}